.main{
    min-height: 500px;
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: $max-page-width;
    margin: 0 auto;
    align-items : center;
}
.music{
    max-width : $max-page-width;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    a.noline {
      text-decoration: none
    }
    .buttons{
        
        display : flex;
        .button_h{
            display: flex;
            border: 1px solid #b2b2b2;
            border-radius: 200px;
            text-align: center;
            text-decoration: none;
            height: 30px;
            outline : 0;
            vertical-align: middle;
            white-space: nowrap;
            cursor: pointer;
            margin-right:20px;
            .word {
                padding-left:5px;
                font-size: 12px;
            }
        }
        
    }
    .top100{
        //border-bottom: 0.5px solid darkgrey
        margin-top:10px;
        .table{
            text-align: center;
            justify-content: space-between;
            vertical-align: baseline;
            .column{
                padding-top : 10px;
                padding-bottom: 10px;
                vertical-align: middle;
                border-top: 0.5px solid darkgrey;
                border-bottom:0.5px solid darkgrey;
                color : darkgrey;
                .albumart {
                    background-color: $bg-color;
                    padding-left:10px;
                    padding-right:10px;
                    height: 70px;
                    width : 70px;
                    border: 0px;
                }
                .grade{
                    padding-left:20px;
                    padding-right:20px;
                    color : black;
                }
            }
        }
    }
}
