.table{
    text-align: center;
    justify-content: space-between;
    vertical-align: baseline;
    .column{
        padding-top : 10px;
        padding-bottom: 10px;
        vertical-align: middle;
        border-bottom: 0.5px solid darkgrey;
        color : darkgrey;
        .albumart {
            background-color: $bg-color;
            padding-left:10px;
            padding-right:10px;
            height: 40px;
            width : 40px;
            border: 0px;
        }
        .grade{
            padding-left:20px;
            padding-right:20px;
            color : black;
        }
    }
}