.form-component {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  .form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    input[type="submit"] {
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .text-input {
      border: 1px solid #efefef;
      border-radius: 3px;
      background-color: $bg-color;
      margin-bottom: 5px;
      font-size: $normal-font-size;
      padding: 9px 0 7px 8px;
      font-weight: 400;
      &:focus {
        outline: none;
        border: 1px solid #b2b2b2;
      }
    }
  }
  .button {
    @include blueButton();
    i {
        font-size : 17px;
        margin-right: 5px;
    }
    svg {
      margin-right: 10px;
    }

  }
  .divider {
    text-transform: uppercase;
    color: $dark-grey;
    font-weight: 600;
    margin: 20px 0;
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: "";
      width: 42%;
      position: absolute;
      background-color: $dark-grey;
      height: 1px;
      left: 0;
      top: 6px;
      opacity: 0.8;
    }
    &:after {
      content: "";
      width: 42%;
      position: absolute;
      background-color: $dark-grey;
      height: 1px;
      right: 0;
      top: 6px;
      opacity: 0.8;
    }
  }
  .facebookLink {
    color: #385185;
    justify-content: center;
    margin-top: 10px;
    font-size : 14px;
    font-weight: bold;
    margin-bottom: 0px;
    background-color : white;
    @include breakpoint(mobileonly) {
      background-color: $bg-color;
    }
    border : 0;
    i {
      margin-right: 5px;
    }
    &:focus,
    &:active{
        outline: none;
    }
  }
  .forgotLink {
    font-size: $small-font-size;
    color: $dark-blue;
    margin-bottom: 5px;
  }
}

